:root {
  --border-color: rgb(227, 227, 227);
  --accent-color: #50A3D9;
}

.material-symbols-outlined {
  scale: .8
}

h1,
h2,
h3,
h4,
ul,
p {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  font-family: "Open Sans";
  justify-content: center;
}

div.container {
  flex-direction: column;
  padding: 1rem;
  max-width: 1024px;
}

.bottom-border {
  border-bottom: 1px solid var(--border-color);
}

div.head {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  align-items: center;
}

h2.head_name {
  font-size: 1.6rem;
  font-weight: 400;
}

h2.head_title {
  font-size: 20px;
  font-weight: 500;
  color: var(--accent-color);
  margin-top: 1rem;
}

img.head_photo {
  width: 100px;
}

div.img-container {
  width: 100px;
  height: 100px;
  border-radius: 1rem;
  overflow: hidden;
}

div.img-shadow {
  position: absolute;
  top: 1rem;
  width: 100px;
  height: 100px;
  border-radius: 1rem;
  z-index: 4;
  box-shadow: inset 0 0 2px white;
}

img.head_photo::before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  right: 100%;
  bottom: 0;
  left: 0;
  background: radial-gradient(100% 100% at 50% 50%, #545C6F 0, #3E4452 40%, #ffffff00 50%);
  height: 300px;
  width: 300px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

ul.contact-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row;
  margin-top: 1rem;
  flex-wrap: wrap;
}

li.head_link-item {
  display: flex;
  align-items: center;
  gap: .4rem
}

img.link-logo {
  width: 1rem;
  padding-left: 4px
}

a.link,
a.link:visited {
  text-decoration: none;
  color: black;
}

a.link_underlined {
  text-decoration: underline;
}

h3.section-title {
  color: var(--accent-color);
  text-transform: uppercase;
  font-family: monospace;
  font-weight: 400;
  font-size: x-large;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h3.main-section_subtitle {
  font-style: italic;
  text-decoration: underline;
  font-weight: 600;
}

h4.experience_title {
  padding-top: 1rem;
  font-weight: bold;
}

ul.experience_description {
  margin-bottom: .5rem;
}

span.experience_tech-stack {
  font-style: italic;
}

ul.experiences-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 2rem
}

li.experience_item {
  list-style-type: disc;
}

span.work-title {
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

span.experience_period {
  font-weight: 600;
}

ul.list {
  display: flex;
  flex-direction: column;
  margin-top: .5rem;
  gap: .6rem;
  margin-left: 1rem;
}

section.skills,
section.education {
  margin-top: 1rem;
}

section.education_item {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.contact_link {
  font-size: .9rem;
  text-align: center;
}

section.about-me {
  border: none;
}

section.experience {
  margin-top: 1rem;
}

ul.skills-list {
  margin-top: 0;
}

span.skill-name {
  font-weight: bold;
}

section.education {
  margin-top: 1rem;
}

@media screen and (max-width: 450px) {
  ul.head_links {
    gap: .8rem;
    justify-content: space-around;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #202124;
    color: white
  }

  a.link,
  a.link:visited {
    color: white
  }

  div.img-shadow {
    box-shadow: inset 0 0 2px #202124;
  }

  img.link_github {
    content: url("./assets/github-mark-white.svg");
  }
}

@media print {
  div.img-shadow {
    display: none;
  }
}